.post {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-left: 13px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toprightimage {
  width: 10px;
  height: 10px;
}
.postWrappers {
  padding: 20px;
}
.postTopImage {
  height: 32px;
  width: 32px;
  border-radius: 50%;

  object-fit: cover;
}
.postTopLeft {
  display: flex;
  align-items: center;
}
.postTopName {
  font-weight: 500;
  font-size: 15px;
  margin: 0 10px;
}
.postTopTime {
  font-size: 12px;
}
.postCenterImage {
  /* margin-left: -20px; */
  /* margin-right: -20px; */
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}
.postCenter {
  /* display: flex; */
  /* align-items: center; */
  margin-left: 0;
  margin-right: 0;
}
.likeAndLove {
  height: 24px;
  width: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.likeAndLove {
  margin-right: 10px;
}
.postBottom {
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  /* align-items: center; */
}
.likeNumber {
  font-size: 15px;
}
.postBottomLeft {
  display: flex;
  align-items: center;
}
.comments {
  cursor: pointer;
  border-bottom: 1px dotted gray;
}
